<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.iutlens.dubois.mmiadventure">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Carte">
        <activity
            android:name="fr.iutlens.dubois.mmiadventure.finalscreen"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="fr.iutlens.dubois.mmiadventure.CreditsActivity"
            android:exported="false" />
        <activity
            android:name="fr.iutlens.dubois.mmiadventure.MusicActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="fr.iutlens.dubois.mmiadventure.PuzzleActivity"
            android:exported="false" />
        <activity
            android:name="fr.iutlens.dubois.mmiadventure.MapActivity"
            android:exported="false" />
        <activity
            android:name="fr.iutlens.dubois.mmiadventure.ClickerActivity"
            android:exported="false" />
        <activity
            android:name="fr.iutlens.dubois.mmiadventure.AccueilActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>